# Dependencias de Node.js
node_modules/

# Archivos de entorno
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de caché del editor y del sistema operativo
.DS_Store
Thumbs.db

# Carpeta de build del frontend
project/build/

# Archivos de caché de babel
project/node_modules/.cache/
